* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #344585;
  font-size: 24px;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo img{
  width: 40px;
  aspect-ratio: 1;
}
.logo{
  font-size: 40px;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}
ul{
display: flex;
align-items: center;
gap: 15px;
list-style-type: none;
}
.navbar ul a{
  color: white;
  text-decoration: none;
}
.navbar ul a:hover{
opacity: .7;
}
.nav-btn{
  padding: 12px 36px;
  transition: all 400ms;
  border: solid 1px white;
  background-color: transparent;
  color: white;
}
.nav-btn:hover{
  background-color: white;
  color: #6384FF;
  cursor: pointer;
}

/*? Hero Section */
.hero-section{
  background-color: #6384FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 150px 0;
}
.hero-content{
  color: white;
  font-size: 46px;
  font-weight: bold;
  width: 30%;
}

/*? services-section */

.services-section{
  padding: 100px 0;
}
.services-section h1{
  text-align: center;
  margin:60px 0;
  font-size: 60px;
}
.services-section h1::after{
  content: '';
  display: block;
  width: 15%;
  margin: 30px auto 100px;
  height: 3px;
  background: rgb(99,132,240);
  background: linear-gradient(90deg, rgba(99,132,240,1) 0%, rgba(99,132,240,1) 83%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 91%, rgba(99,132,240,1) 91%, rgba(99,132,240,1) 100%);
}
.cards{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.card{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-size: 1.5rem;
}
.card h2{
  color: #32325c;
}
.card p{
  padding: 10px;
  text-align: center;
}
.card img{
  width: 150px;
}

/* hr{
  width: 10%;
  margin: 50px auto;
  height: 4px;
  background: rgb(99,132,240);
background: linear-gradient(90deg, rgba(99,132,240,1) 0%, rgba(99,132,240,1) 83%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 91%, rgba(99,132,240,1) 91%, rgba(99,132,240,1) 100%);
} */

