* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #344585;
  font-size: 24px;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo img{
  width: 40px;
  aspect-ratio: 1;
}
.logo{
  font-size: 40px;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}
ul{
display: flex;
align-items: center;
gap: 15px;
list-style-type: none;
}
.navbar ul a{
  color: white;
  text-decoration: none;
}
.navbar ul a:hover{
opacity: .7;
}
.nav-btn{
  padding: 12px 36px;
  transition: all 400ms;
  border: solid 1px white;
  background-color: transparent;
  color: white;
}
.nav-btn:hover{
  background-color: white;
  color: #6384FF;
  cursor: pointer;
}

/*? Hero Section */
.hero-section{
  background-color: #6384FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 150px 0;
}
.hero-content{
  color: white;
  font-size: 46px;
  font-weight: bold;
  width: 30%;
}







@media screen and (max-width:600px) {
  .navbar{
    justify-content: space-between;
  }
  .logo{
    padding: 20px;
  }
  .navbar ul{
    display: none;
  }
  .hero-section{
    flex-wrap: wrap;
  }
  .hero-section img{
    width: 400px;
  }
  .hero-content{
    width: 80%;
    font-size: 30px;
    padding: 30px 0;
  }
}
